/* VARIABLES */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --primary-color: #0C4A1A;
    --secondary-color: #0A3612;
    --third-color: #FEE9B5;
    --hover-color: var(--primary-color);
    --main-font: 'Inter';
    --second-font: 'Manrope';
}

body{
    font-family: var(--main-font), sans-serif;
    min-height: 1000px;
}

/* OVERRIDE */
@media (min-width: 1220px){
    .uk-container{
        max-width: 1240px;
        padding:0;
    }
}

a{
    color:#000;
}

ul li,ol li{
    list-style: none;
}

